<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>notice</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="user-wrap">
    <form action="/auth/login" method="post" class="user-form">
      <h2 class="index-title">notice</h2>
      <div class="user-form-email">
        <label for="useremail"></label>
        <input name="email" type="text" placeholder="useremail">
      </div>
      <div class="user-form-pass">
        <label for="userepass"></label>
        <input name="password" type="password" placeholder="userpass">
      </div>
      <button type="submit">로그인</button>
      <a href="/join" class="join">회원가입</a>
    </form>
    <a href="/auth/kakao" class="kakao">카카오 로그인</a>
  </div>
</body>
</html>